<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/Logs/run/${shortdate}.log"
            maxArchiveFiles="100"
            layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"/>       
    
    <target name="logconsole" xsi:type="Console" />
    
    <target name="logCurrent" xsi:type="File"
            fileName="${basedir}/Logs/current/${shortdate}_current.log"
            maxArchiveFiles="100"
            layout="${longdate},${message}${newline}"
            />
    
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    
    <logger name="*" level="Trace" writeTo="logCurrent"/>
    
  </rules>
</nlog>
